<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CSIT5930 Search Engine</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/responsive.css}" rel="stylesheet">
    <script th:src="@{/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/header-slideshow.js}"></script>
</head>
<body>
    <header>
        <img id="wordmark" th:src="@{/UST_L3_black.jpg}" alt="HKUST"/>
        <div id="hero-container" class="bee">
            <div class="overlay"></div>
            <div id="site-title">
                <a>Search Engine</a>
                <form th:action="@{/search}" id="search-bar" method="get" onsubmit="event.preventDefault(); document.getElementById('search-button').click();">
                    <input type="text" id="search-input" name="query" placeholder="Press enter to search..." onkeydown="if (event.keyCode === 13) { this.form.submit(); return false; }">
                    <button id="search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>
    <main th:if="${searchResults}">
        <div class="search-results">
            <div th:each="result : ${searchResults}" class="search-result">
                <a th:href="${result.url}" class="title" th:text="${result.title}"></a>
                <p class="url" th:text="${result.url}"></p>
                <div class="info">
                    <span class="last-modified-text">Last modified:</span>
                    <span class="last-modified-date" th:text="${result.lastModifiedDate}"></span>
                    <span class="size" th:text="${result.size}"></span>
                </div>
                <hr>
            </div>
        </div>
    </main>

    <footer th:if="${searchResults}">
        <img id="unit-signature"  src="/logo-group.png" alt="HKUST Department of Computer Science and Engineering"/>
    </footer>
</body>
</html>
